html
{
  background: #1a1a1a;
}

.text
{
  color: white;
  text-align: center;
}

.topbar-img
{
  text-align: center;
  padding: 10px;
}

.topbar-img img
{
  width: 1024px;
  height: 150px;
}

.item
{
  list-style-type: none;
}

a
{
  color: aqua;
}

.info
{
  color: red;
  text-align: center;
}
